#myInput {
  color: #646161;
}
.container #label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 2px dashed #ada9a9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#label {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
