ol {
  list-style: none;
}
span {
  margin-left: 5px;
  color: black;
  text-transform: lowercase;
}

.stack {
  color: red;
}
.box_shadow {
  width: 300px;
  height: 200px;
  margin: auto;
  /* border: 1px solid; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
  margin: 0 auto;
}
h1 {
  text-shadow: 2px 2px 3px #ff0000;
}
